<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Argumentos principais -->
  <arg name="world_name" default="$(find professor_mundo)/worlds/mundo_corredor.world"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="ns" default="p3dx"/>

  <!-- Caminho para os modelos ArUco e locais -->
  <env name="GAZEBO_MODEL_PATH" value="$(find trabalho_robotica_movel)/professor_teste/aruco/models:$(find professor_mundo)/models" />

  <!-- Lança o mundo com Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Inicia o gzclient manualmente após o Gazebo estar rodando -->
  <node name="gazebo_client" pkg="gazebo_ros" type="gzclient" output="screen"/>

  <!-- Descrição do robô (xacro) -->
  <param name="/robot_description" command="$(find xacro)/xacro --inorder $(find p3dx_description)/urdf/pioneer3dx.xacro"/>

  <!-- Spawna o robô no mundo corredor -->
  <include file="$(find p3dx_gazebo)/launch/spawn.launch">
      <arg name="name" value="$(arg ns)" />
      <arg name="namespace_arg" value="$(arg ns)" />
      <arg name="x" value="$(arg x)" />
      <arg name="y" value="$(arg y)" />
      <arg name="z" value="$(arg z)" />
  </include>

  <!-- Parâmetros de navegação do ArUco -->
  <rosparam file="$(find trabalho_robotica_movel)/professor_teste/config/aruco_navigation.yaml" command="load" />

  <!-- Inicia o RViz com visualização customizada -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find trabalho_robotica_movel)/rviz/trabalho_robotica_movel.rviz" />

</launch>
